body{
    font-family: sans-serif;
}

.contener{
   display: flex;
    justify-content: space-evenly;

}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    flex-basis: 40%;
    background-color: #ddd;
    box-shadow: 0 0 2px 1px gray;
    margin: 20px 0;
    padding: 10px;
}

.form__title{
    flex-basis: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.form__input{
    padding: 10px 20px;
    font-size: 16px;
    flex-basis: 40%;
    margin: 10px 0px;
}

.form__button{
    margin: 30px 0;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    flex-basis: 60%;
    cursor: pointer;


}
.resualt, .content, .footer{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    // line-height: 80px;
    // text-align: center;
    background-color:black;
    color: white;
    height:  80px;
}